In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('adult_data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
race_count=df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [95]:
avg_age=df['age'].mean()
round(avg_age)

39

In [94]:
avg_age=df.groupby('sex')['age'].mean()
round(avg_age)

sex
Female    37.0
Male      39.0
Name: age, dtype: float64

In [176]:
avg_age_male=df[df['sex']=='Male']['age'].mean()
round(avg_age_male,1)

np.float64(39.4)

In [92]:
bachlor_count=df[df['education']=='Bachelors'].shape[0]
total_count=df.shape[0]
Bachelro_per=(bachlor_count/total_count)*100
round(Bachelro_per)

16

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
 advanced_education_df = df[df['education'].isin(advanced_education)].value_counts().sum()
    total_count=df['education'].value_counts().sum()
    higher_education=advanced_education_df/total_count*100

In [162]:
# Define advanced education levels
advanced_education = ['Bachelors', 'Masters', 'Doctorate']

advanced_education_df = df[df['education'].isin(advanced_education)].value_counts().sum()
total_count=df['education'].value_counts().sum()
higher_education=advanced_education_df/total_count*100
higher_education

np.float64(23.006050182733944)

In [165]:
# Calculate the percentage
# Filter for people with advanced education who earn more than 50K
advanced_education_df2 = df[df['education'].isin(advanced_education)]
advance_education_with_high_salary=advanced_education_df2[advanced_education_df2['salary']=='>50K']
if len(advanced_education_df2) > 0:
    percentage = (len(advance_education_with_high_salary) / len(advanced_education_df2)) * 100
else:
    percentage = 0
percentage

46.535843011613935

In [18]:
# Define advanced education levels
advanced_education = ['Bachelors', 'Masters', 'Doctorate']

# Filter for people with advanced education
lower_education_df = df[~df['education'].isin(advanced_education)]
lower_education_df

# Filter for people with advanced education who earn more than 50K
lower_education_high_salary_df = lower_education_df[lower_education_df['salary'] == '>50K']
lower_education_high_salary_df[['education', 'salary']]

          education salary
7           HS-grad   >50K
10     Some-college   >50K
14        Assoc-voc   >50K
27     Some-college   >50K
38     Some-college   >50K
...             ...    ...
32518       HS-grad   >50K
32519  Some-college   >50K
32545    Assoc-acdm   >50K
32557       HS-grad   >50K
32560       HS-grad   >50K

[4355 rows x 2 columns]

In [90]:
if len(lower_education_df)>0:
    lower_education_more_salary=(len(lower_education_high_salary_df)/len(lower_education_df)*100)
  
else:
    lower_education_more_salary=0
round(lower_education_more_salary)

17

In [173]:
min_work_hour=df['hours-per-week'].min()
num_min_work=df[df['hours-per-week']==min_work_hour].shape[0]
num_min_work

20

In [111]:
# rich_percentage
min_work_hours=df['hours-per-week'].min()
rich_percentage=round(df[df['hours-per-week']==min_work_hours]['salary'].value_counts(normalize=True)['>50K'] * 100,1)
print(rich_percentage)

10.0

In [116]:
# Step 1: Calculate the percentage of people earning >50K for each country
# Create a boolean column to indicate if the salary is >50K
df['high_income'] = df['salary'] == '>50K'

# Group by 'native-country' and calculate the percentage of people earning >50K
country_income_percentage = df.groupby('native-country')['high_income'].mean() * 100

# Step 2: Find the country with the highest percentage
highest_earning_country = country_income_percentage.idxmax()
print(highest_earning_country)
highest_percentage = country_income_percentage.max()
print(highest_percentage)

Iran
41.86046511627907

In [122]:
indian_salary_above_50=df[(df['native-country']=='India') & (df['salary'] == '>50K')]
top_IN_occupation=indian_salary_above_50['occupation'].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'